<h1>Article ID <%= @article.id%></h1>
<strong>Title:</strong>
<br>
<%= @article.title%>
<br>
<br>
<strong>Text:</strong>
<br>
<%= @article.text%>
<br>
<br>

<h2>Comments:</h2>
<% @article.comments.each do |comment| %>
  <p>
    <strong>Commenter: </strong><%= comment.commenter %><br>
    <strong>Body: </strong><%= comment.body %><br>
    <%= link_to 'Delete', article_comment_path(@article, comment), method: 'delete', data: {confirm: 'Are you sure?'}  %>
  </p>
<% end %>

<h2>Add Comment<h2>
  <%= form_with(model: [@article, @article.comments.build]) do |form| %>
    <p>
      <%= form.label :commenter %><br>
      <%= form.text_field :commenter %>
    </p>
    <p>
      <%= form.label :body %><br>
      <%= form.text_area :body %>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <% end %>
<%= link_to 'Index', articles_path %>
